<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="site-style.css" />
    <title>IRunes</title>
</head>
<body>
    @RenderBody()
    <footer class="text-center">
        <p><strong>CopyRight &copy; Sanity Design Studios. All rights reserved</strong></p>
    </footer>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="popper.js"></script>
    <script src="bootstrap.min.js"></script>
</body>
</html>