<header>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">IRunes</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
            </li>
        </ul>

    </nav>
</header>
<h1 class="text-center text-danger">The URL you tried to reach is not supported.</h1>