<header>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">IRunes</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Register</a>
            </li>
        </ul>

    </nav>
</header>
<div class="border-line"></div>
<main class="container-fluid">
    <div class="row">
        <section class="jumbotron col-md-12">
            <h1 class="welcome">Welcome to IRunes</h1>
            <h3><a href="/users/login">Login</a> if you have an account.</h3>
            <h3><a href="/users/register">Register</a> if you don&rsquo;t.</h3>
        </section>
    </div>
</main>

