<header>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">IRunes</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/users/login">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/albums/all">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/logout">Logout</a>
            </li>
        </ul>

    </nav>
</header>
<main>
    <h1 class="container-fluid albums">Albums</h1>
    <div class="border-line"></div>
    <div class="container-fluid">
        <a href="/albums/create" class="btn">Create Album</a>
    </div>
    <div class="border-line"></div>
    <section class="container-fluid album-list">
        @Model.AlbumsViewModel
    </section>
</main>
    <div class="border-line"></div>
